<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="box-404 bg">
      <h1>404</h1>
      <h2>{{ 'The page cannot be found.'|t }}</h2>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    {{ content }}
  </div>
</div>
