/* General */
body {
    font-family: 'Nunito';
    font-weight: normal;
    font-style: normal;
}

/* Botones */

/* Default */
.btn {
    background: #1e1e1e;
    border: 0 none;
    font-size: 14px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #fff;
    line-height: 22px;
    padding: 9px 20px;
    display: block;
    max-width: 200px;
}
.btn:hover {
    text-decoration: none;
}

/* Blanco */
.btn.white {
    background: #fff;
    color: #08D607;
}

/* Verde */
.btn.green {
    background: #08D607;
    color: #fff;
}

/* Celeste */
.btn.bluesky {
    background: #4D97FA;
    color: #fff;
}

/* Centrado */
.btn.center {
    margin: 0 auto;
}






/* Menú header */
.path-frontpage .l-header {
    display: block;
}
.l-header {
    display: none;
    background: none;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}
    .l-header .pr-header {
        background: none;
        margin: 20px;
    }
    .l-header .pr-header .regions {
        background: none;
    }
    .sticky-header .l-header .pr-header {
        background: rgba(255,255,255, .95);
    }

    /* Logo */
    .logo-img-color {
        display: none;
    }
    .sticky-header .logo-img-color {
        display: block;
    }
    .sticky-header .site-branding__logo-img {
        display: none;
    }

    /* Slogan */
    .site-branding__text {
        text-indent: -9999em;
        height: 0;
        width: 0;
    }

    /* Menu */
    .ms-dropmenu .rm-block__content .menu-level-1 {
        height: 32px;
    }
        .ms-dropmenu .rm-block__content .menu-level-1 > li {
            margin-right: 10px;
            border-radius: 5px;
        }
            .sticky-header.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link {
                color: #1D558C;
            }
            .ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link {
                color: #fff;
            }
            .ms-dropmenu .rm-block__content .menu-level-1 > li:hover > span > .menu__link {
                background: #fff !important;
                color: #1D558C;
                -webkit-transition-delay: 25ms;
                -o-transition-delay: 25ms;
                transition-delay: 25ms;
            }
            .ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link.is-active {
                background: none;
            }
            .sticky-header.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link.is-active:before {
                background: #1D558C;
            }
            .ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link.is-active:before {
                background: #fff;
                content: '';
                position: absolute;
                height: 1px;
                width: 60%;
                bottom: -10%;
                left: 20%;
            }
                .ms-dropmenu .rm-block__content .menu-level-1 .is-child.menu-level-2 {
                    position: relative;
                }    
                    .ms-dropmenu .rm-block__content .menu-level-2 .menu__link{
                        background: #fff !important;
                        color: #1D558C !important;
                    }



    

/* Encabezado */
.l-highlighted {
    position: relative;
}
    .pr-highlighted__rw {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
        .pr-highlighted__rw .node__title {
            display: none;
        }
        #rid-highlighted {
            padding: 0;
        }
        #block-views-block-encabezado-block-1 {
            margin: 0;
        }
            .node--view-mode-encabezado {
                padding: 0;
                margin: 0;
                border-radius: 0;
                box-shadow: none;
            }
                /* Campos */
                .field-paragraph--field-bajada {
                    display: flex;
                    position: absolute;
                    top: 0; left: 0;
                    height: 90%;
                    width: 100%;
                }
                .field-paragraph--field-bajada .field__items {
                    align-self: center;
                    padding: 0 0.625em;
                    margin: 0 auto;
                    max-width: 75em;
                    width: 100%;
                }
                    .field-paragraph--field-bajada .field__items .field__item {
                        width: auto;
                    }
                    @media (min-width: 960px) {
                        .field-paragraph--field-bajada .field__items .field__item {
                            width: 60%;
                        }
                    }
                    @media (min-width: 1200px) {
                        .field-paragraph--field-bajada .field__items .field__item {
                            width: 50%;
                        }
                    }

                    .field-paragraph--field-bajada .field__items .field__item h1,
                    .field-paragraph--field-bajada .field__items .field__item h2 {
                        font-size: 2.8rem;
                    }
                    .field-paragraph--field-bajada .field__items .field__item h1,
                    .field-paragraph--field-bajada .field__items .field__item h2,
                    .field-paragraph--field-bajada .field__items .field__item h3,
                    .field-paragraph--field-bajada .field__items .field__item h4,
                    .field-paragraph--field-bajada .field__items .field__item h5,
                    .field-paragraph--field-bajada .field__items .field__item h6 {
                        color: #09DC08;
                        font-weight: bold;
                    }
                    .field-paragraph--field-bajada .field__items .field__item {
                        color: #fff;
                    }
                    .field-paragraph--field-bajada .field__items .field__item a{
                        background: #4D97FA url(../../images/Flecha-blanco.svg) no-repeat 150px center;
                        border: 0 none;
                        font-weight: bold;
                        text-decoration: none;
                        font-size: 14px;
                        border-radius: 26px;
                        color: #fff;
                        line-height: 34px;
                        padding: 9px 20px;
                        display: block;
                        max-width: 200px;
                        height: 50px;
                    }


            /* Slider dots */
            .slick-dots{
                bottom: 5%;
                position: absolute;
                text-align: center;
                list-style: none;
                margin: 0;
                padding: 0;
                width: 100%;
            }
                .slick-dots li {
                    display: inline-block;
                }
                    .slick-dots li button {
                        background: transparent;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        box-shadow: none;
                        text-indent: -9999em;
                        margin: 0 7px;
                        padding: 0;
                        height: 14px;
                        width: 14px;
                    }
                    .slick-dots li button:hover,
                    .slick-dots li.slick-active button {
                        background: #fff;
                    }

/* PAGES */

/* Landings */
.node--view-mode-encabezado {
    background: none;
}
.page-node-type--landing .node__title {
    display: none;
}
.page-node-type--landing .block-main-content > article {
    padding: 0;
    box-shadow: none;
    background: transparent;
}

.field-name-field-tarjetas {
    margin: 70px 0 50px;
}
.field-name-field-tarjetas > .field__items {
    display: flex;
    justify-content: space-between;
}
.field-name-field-tarjetas > .field__items > .field__item {
    max-width: 550px;
    position: relative;
}
.tarjeta-cuerpo {
    color: #fff;
    position: absolute;
    top: 20%;
    left: 10%;
    text-align: center;
    width: 80%;
}

.field-paragraph--field-tarjeta-titulo {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 26px;
}



/* COMPONENTES */

/* Notas destacadas */
#slick-views-notas-block-1-2-slider .slick__slide {
    background: #fff;
    display: flex !important;
}
    #slick-views-notas-block-1-2-slider .slick__slide .views-field-field-image {
        
    }
    @media (min-width: 768px) {
        #slick-views-notas-block-1-2-slider .slick__slide .views-field-field-image {
            margin-right: 20px;
        }
    }
    .nota-categorias {
        color: #08D607;
        font-size: 12px;
        font-weight: bold;
        margin: 30px 0 20px;
        text-transform: uppercase;
    }

    .nota-teaser-body br,
    .nota-teaser-body h1,
    .nota-teaser-body h2,
    .nota-teaser-body h3 {
        display: none;
    }

    #slick-views-notas-block-1-2-slider .slick__slide .views-field-nothing h3 a {
        color: #000;
        text-decoration: none;
    }

    .nota-date {
        background: url(../../images/clock.svg) no-repeat center left;
        font-size: 12px;
        font-weight: bold;
        padding: 0 20px;
        margin-top: 20px;
        text-transform: uppercase;
    }



/* Blurbs */
.field-paragraph--field-blurb-icono {
    margin-top: 80px;
}
.field-paragraph--field-blurb-icono > .field__items {
    display: flex;
}
    .field-paragraph--field-blurb-icono > .field__items > .field__item {
        width: 30%;
        margin: 0 1.5%;
        text-align: center;
    }
    .field-paragraph--field-blurb-icono .field__items .field-paragraph--field-pr-blurb-icono {
        display: none;
    }
    .field-paragraph--field-blurb-icono .field__items .icon {
        margin: 1%;
    }
    .field-paragraph--field-blurb-icono .field__items .icon:before {
        display: block;
        width: 100%;
        height: 60px;
    }
    .field-paragraph--field-blurb-icono .field__items .field-paragraph--field-pr-title {
        font-weight: bold;
        font-size: 20px;
    }
    .field-paragraph--field-blurb-icono .field__items .field-paragraph--field-pr-body {
        color: #666;
        margin: 5% 8%;
    }

    .field-paragraph--field-blurb-icono .field__items .field-paragraph--field-pr-cta-link {
        text-transform: uppercase;
        font-size: 12px;
    }



.icon-10-a:before {
    background: url(../../images/icons/blurbs/10-a.svg) no-repeat center top;
    content:' ';
}
.icon-atencion-personalizada:before {
    background: url(../../images/icons/blurbs/atencion-personalizada.svg) no-repeat center top;
    content:' ';
}
.icon-aumento-de-potencia:before {
    background: url(../../images/icons/blurbs/aumento-de-potencia.svg) no-repeat center top;
    content:' ';
}
.icon-contratacion:before {
    background: url(../../images/icons/blurbs/contratacion.svg) no-repeat center top;
    content:' ';
}
.icon-cortes:before {
    background: url(../../images/icons/blurbs/cortes.svg) no-repeat center top;
    content:' ';
}
.icon-doc:before {
    background: url(../../images/icons/blurbs/doc.svg) no-repeat center top;
    content:' ';
}
.icon-geo:before {
    background: url(../../images/icons/blurbs/geo.svg) no-repeat center top;
    content:' ';
}
.icon-gestion:before {
    background: url(../../images/icons/blurbs/gestion.svg) no-repeat center top;
    content:' ';
}
.icon-heartbeat:before {
    background: url(../../images/icons/blurbs/heartbeat.svg) no-repeat center top;
    content:' ';
}
.icon-medidor:before {
    background: url(../../images/icons/blurbs/medidor.svg) no-repeat center top;
    content:' ';
}
.icon-numeros:before {
    background: url(../../images/icons/blurbs/numeros.svg) no-repeat center top;
    content:' ';
}
.icon-personas:before {
    background: url(../../images/icons/blurbs/personas.svg) no-repeat center top;
    content:' ';
}
.icon-reportes-financeros:before {
    background: url(../../images/icons/blurbs/reportes-financeros.svg) no-repeat center top;
    content:' ';
}
.icon-tres-pasos:before {
    background: url(../../images/icons/blurbs/tres-pasos.svg) no-repeat center top;
    content:' ';
}
    









/* Content sufix */
.l-content-suffix {
    background: url('images/bg-notas.png') no-repeat;
    background-size: cover;
}
    .l-content-suffix .regions {
        background: none;
    }
        .l-content-suffix .regions .block__title {
            color: #fff;
            font-size: 18px;
            text-align: center;
            margin: 60px auto;
        }
            .l-content-suffix .regions .block__title span {
                display: inline-block;
                position: relative;
            }
            .l-content-suffix .regions .block__title span:before {
                background: #08D607;
                content: " ";
                height: 1px;
                width: 40%;
                position: absolute;
                left: 30%;
                bottom: -10px;
            }

    .l-content-suffix .view-notas .view-rows {
        display: flex
    }
        .l-content-suffix .view-notas .views-row:nth-child(2) {
            margin: 0 25px;
        }
        .l-content-suffix .view-notas .view-footer {
            margin: 50px 20px;
            text-align: center;
        }



/* Notas */

/* Notas teaser */
.nota-teaser {
    background: #fff;
}   
    .nota-teaser .views-field-nothing {
        margin: 25px 15px  50px;
    }
        .teaser-categorias {
            color: #08D607;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        .teaser-title {
            font-weight: 400;
        }
            .teaser-title a{
                color: #000;
            }
                .teaser-title a:hover {
                    text-decoration: none;
                }


 
/* Footer top */
.l-footer-top {
    background-image: linear-gradient(-270deg, #1D558C 0%, #4D97FA 58%, #02E700 100%);
    padding: 20px 0;
}
    .l-footer-top .regions {
        background: none;
    }
    .l-footer-top .block__title {
        color: #fff;
        font-weight: bold;
        font-size: 16px;
    }
    .l-footer-top .block__content .field__item ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .l-footer-top .block__content li.social {
        display: inline-block;
    }
    .block__content li.social a {
        background: #fff;
        border-radius: 50%;
        display: block;
        padding: 5px;
        margin-right: 5px;
    }
    .block__content li.social .fa {
        color: #4287e1;
        display: block;
        line-height: 22px;
        text-align: center;
        width: 22px;
        height: 22px;
    }
    .l-footer-top .block__content p, 
    .l-footer-top .block__content a {
        color: #fff;
        font-size: 14px;
    }
    .l-footer-top .block__content a:hover {
        color: #fff;
        text-decoration: none;
    }

/* Footer bottom */
.l-footer-bottom {
    
}
    .l-footer-bottom .block__title {
        color: #4D97FA;
        font-size: 16px;
    }
    .l-footer-bottom .block__content ul li a,
    .l-footer-bottom .block__content ul li span {
        color: #3A3A3A;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
        .l-footer-bottom .block__content ul li ul {
            padding-left: 0;
            margin-left: 30px;
        }
        .l-footer-bottom .block__content ul li ul a,
        .l-footer-bottom .block__content ul li ul span {
            font-weight: normal;
            line-height: 1.2;
        }
        .l-footer-bottom .block__content ul li a:hover {
            color: #3A3A3A;
        }

