{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: edenor_tema
 * Generated on: Sun, 05 Aug 18 22:02:58 -0300
 */
#}
{{ attach_library('edenor_tema/edenor_tema.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
</div>
