<div {{ attrs|raw }}>
  <input type="text" class="knob" value="0" rel="{{ percent }}" data-linecap="round" data-width="200" data-bgColor="#f2f2f2" data-fgColor="{{ line_color }}" data-thickness=.15 data-readOnly=true disabled />
</div>
